body {
	background-color: #0d0d0d;
}

.title {
	margin-top: 5vh;
	text-align: center;
	font-size: 3em;
	color: #fffaea;
	font-family: 'Josefin Sans', sans-serif;
}

.checkbox {
	color: #fffaea;
	font-family: 'Josefin Sans', sans-serif;
	margin: 0 auto;

	text-align: center;
}

#spyfall1label {
	transition: color 0.1s linear;
	user-select: none;
	font-size: 3.2em;
}

#spyfall1label:hover {
	color: gray;
}

#spyfall2label {
	transition: color 0.1s linear;
	user-select: none;
	font-size: 3.2em;
}

#spyfall2label:hover {
	color: gray;
}

#custom1label {
	transition: color 0.1s linear;
	user-select: none;
	font-size: 2.4em;
}

#custom1label:hover {
	color: gray;
}

.checkbox #minute_form {
	text-align: center;

	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 1vh;
	padding-bottom: 1vh;

	display: inline-block;

	font-family: 'Josefin Sans', sans-serif;
}

#list {
	font-family: 'Josefin Sans', sans-serif;
	padding-bottom: 0.5vh;
	padding-top: 0.5vh;
	font-size: 1.3em;
}

input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-moz-appearance: textfield;
	margin: 0;
}

br {
	content: '';
	margin: 2em;
	display: block;
	font-size: 0.2vw;
}

#large_break {
	line-height: 0.4vw;
}

#create_room_button {
	font-size: 1.25em;
	margin: auto;
	position: relative;
	border: none;
	background-color: #fffaea;
	padding-top: 1vh;
	padding-right: 3vw;
	padding-left: 3vw;
	padding-bottom: 1vh;
	display: block;
	width: 15.5vw;
	border-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
	border-radius: 0.125em;
}

#back {
	position: sticky;
	top: 0.25vh;
	margin-left: 0.15vw;
	margin-top: 0.5vh;
	border: none;
	background-color: #fffaea;
	padding-top: 1.25vh;
	padding-right: 1vw;
	padding-left: 1vw;
	padding-bottom: 1.25vh;
	display: block;
	width: 7vw;
	border-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
	border-radius: 0.25em;
}

/*
    For any screen that has a maximum screen width of 720px, display the mobile website
*/
@media only screen and (max-device-width: 480px) {
	.title {
		color: #fffaea;

		margin-top: 7vh;

		text-align: center;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 2.5em;
	}

	.checkbox {
		color: #fffaea;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 3em;
		margin: 0 auto;
		width: 100%;
		text-align: center;
	}

	.checkbox #minute_form {
		font-size: 0.6em;
	}

	#spyfall1label {
		font-size: 0.9em;
	}

	#spyfall2label {
		font-size: 0.9em;
	}

	#spyfall1label:hover {
		color: #fffaea;
	}

	#spyfall2label:hover {
		color: #fffaea;
	}

	#custom1label {
		font-size: 0.6em;
	}

	#custom1label:hover {
		color: #fffaea;
	}

	#create_room_button {
		font-size: 2em;
		margin: 0 auto;
		border: none;
		background-color: #fffaea;
		padding-top: 1.7vh;
		padding-right: 3vw;
		padding-left: 3vw;
		padding-bottom: 1.7vh;
		display: block;
		width: 40vw;
		border-style: none;
		text-decoration: none;
		font-family: 'Josefin Sans', sans-serif;
		border-radius: 0.125em;
	}

	#back {
		margin: 0 auto;
		top: 0.25vh;
		position: relative;
		margin-top: 0.25vh;
		border: none;
		background-color: #fffaea;
		padding-top: 1.5vh;
		padding-right: 1.5vw;
		padding-left: 1.5vw;
		padding-bottom: 1.5vh;
		display: block;
		width: 70vw;
		border-style: none;
		text-decoration: none;
		font-family: 'Josefin Sans', sans-serif;
		border-radius: 0.125em;
		font-size: 1.2em;
	}
}
