body {
    background-color: #0d0d0d;
    color: white;
}

#title {
    margin-top: 10px;
    text-align: center;
    font-size: 3em;
    color: white;
    font-family: 'Josefin Sans', sans-serif;   
}

.subtitle {
    margin-top: 10px;
    text-align: center;
    font-size: 1em;
    color: white;
    font-family: 'Josefin Sans', sans-serif;   
}

#return{
    background-color: #FFFAEA;

    margin: 0 auto;
    display: block;

    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 1vw;
    padding-right: 1vw;

    border: none;
    border-style: none;
    border-radius: 0.125em;
    
    width: 10.5vw;
    min-width: 125px;
   
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    font-family: 'Josefin Sans', sans-serif;
    
}