
.messages {
    color: white;
}

body {
    background-color: #0d0d0d;
}

.title {
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;   
}

.name_field {
    margin: 0 auto;
    border: none;
    background-color: #FFFAEA;
    padding-top: 15px;
    padding-right: 75px;
    padding-left: 10px;
    padding-bottom: 15px;
    display: block;
    width: 200px;
    border-radius: 2px;
    font-family: 'Josefin Sans', sans-serif;
}

.button1 {
    margin: 0 auto;
    border: none;
    background-color: #FFFAEA;
    padding-top: 15px;
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom: 15px;
    display: block;
    width: 200px;
    border-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 2px;
}

.button2 {
    margin: 0 auto;
    border: none;
    background-color: #FFFAEA;
    padding-top: 15px;
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom: 15px;
    display: block;
    width: 200px;
    border-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 2px;
}

.button_rules {
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    background-color: #FFFAEA;
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 10px;
    display: block;
    width: 170px;
    border-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 2px;
}