.messages {
    color: white;
}

body {
    background-color: #0d0d0d;
}

.title {
    margin-top: 22vh;
    text-align: center;
    font-size: 3.125em;
    color: white;
    font-family: 'Josefin Sans', sans-serif;   
}

.name_field {
    margin: 0 auto;
    border: none;
    background-color: #FFFAEA;
    padding-top: 1.25vh;
    padding-right: 4vw;
    padding-left: 0.5vw;
    padding-bottom: 1.25vh;
    display: block;
    width: 10.5vw;
    border-radius: .125em;
    font-family: 'Josefin Sans', sans-serif;
}

.button1 {
    margin: 0 auto;
    border: none;
    background-color: #FFFAEA;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    display: block;
    width: 10.5vw;
    border-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 0.125em;
    text-align: center;
}

.button2 {
    margin: 0 auto;
    border: none;
    background-color: #FFFAEA;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    display: block;
    width: 7vw;
    border-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 0.125em;
    text-align: center;
}

.button_rules {
    margin-left: 0.15vw;
    margin-top: 0.5vh;
    border: none;
    background-color: #FFFAEA;
    padding-top: 1.25vh;
    padding-bottom: 1.25vh;
    display: block;
    width: 7vw;
    border-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: .25em; 
}