body {
    background-color: #0d0d0d;
}

.title {
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;   
}


#back {
    position: sticky;
    top: 10px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    background-color: #FFFAEA;
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 10px;
    display: block;
    width: 170px;
    border-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 2px;
   
}

.key_enter {
    margin: 0 auto;
    border: none;
    background-color: #FFFAEA;
    padding-top: 15px;
    padding-right: 75px;
    padding-left: 10px;
    padding-bottom: 15px;
    display: block;
    width: 200px;
    border-radius: 2px;
    font-family: 'Josefin Sans', sans-serif;
}

#join_room_button {
    font-size: 20px;
    margin: 0 auto;
    border: none;
    background-color: #FFFAEA;
    padding-top: 10px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 10px;
    display: block;
    width: 300px;
    border-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 2px;
}